h2, h3 {
  color: #4895ef;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.main {
  background-color: white;
  padding: 1rem;
  min-height: 100%;
}

.work-experience-section,
.work-experience-accordion {
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.work-experience-expansion-panel {
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__body {
    border-top: 1px solid lightgray;
  }
}

.habilities-section ul,
.training-section ul,
.languages-section ul {
    padding-block: 1rem;
    list-style-type: circle;

    li {
      padding-block: 0.2rem;
    }
}

.dev-companies {
  margin-block: 1.5rem;
  padding-left: 1rem;
}

::ng-deep {
  .work-experience-expansion-panel {
   &__header,
   &__body {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 0.1rem;
   }
  }
}
