<aside class="aside">
  <img class="aside__photo" src="assets/images/photo-cv.jpg" [alt]="'aside.alt.photoCv' | translate">

  <h2>{{ 'aside.contactInfo' | translate }}</h2>
  <div *ngIf="identificationResponse" class="aside__contact-info">
    <ul>
      <li id="email" class="info-title">
        <strong>{{ 'aside.email' | translate }}:</strong>
        <a href="mailto:anubedam@gmail.com" target="_blank">
          {{ identificationResponse.email }}
        </a>
      </li>

      <li id="phone" class="info-title">
        <strong>{{ 'aside.phone' | translate }}:</strong> {{ identificationResponse.phone }}
      </li>

      <li id="city" class="info-title">
        <strong>{{ 'aside.city'  | translate }}:</strong> {{ identificationResponse.provinceCountry }}
      </li>
    </ul>
  </div>
</aside>
