<main class="main">
  <section *ngIf="summaryResponse" class="summary-section">
    <h2>
      <mat-icon aria-hidden="false" [ariaLabel]="'main.ariaLabels.summarySection' | translate" fontIcon="auto_stories"></mat-icon>
      {{ 'main.sections.summary' | translate }}
    </h2>
    <p [innerHTML]="summaryResponse.summary"></p>
  </section>

  <section class="habilities-section">
    <h2>
      <mat-icon aria-hidden="false" [ariaLabel]="'main.ariaLabels.habilities' | translate" fontIcon="tips_and_updates"></mat-icon>
      {{ 'main.sections.habilities' | translate }}
    </h2>

    <ul>
      <li *ngFor="let hability of habilities" [innerHtml]="hability"></li>
    </ul>
  </section>

  <section *ngIf="trainings" class="training-section">
    <h2>
      <mat-icon aria-hidden="false" [ariaLabel]="'main.ariaLabels.trainingSection' | translate" fontIcon="school"></mat-icon>
      {{ 'main.sections.training' | translate }}
    </h2>

    <ul>
      <li *ngFor="let training of trainings" [innerHtml]="training"></li>
    </ul>
  </section>

  <section class="work-experience-section">
    <header>
      <h2>
        <mat-icon aria-hidden="false" [ariaLabel]="'main.ariaLabels.workExperienceSection' | translate" fontIcon="work"></mat-icon>
        {{ 'main.sections.workExperience' | translate }}
      </h2>
    </header>

    <mat-accordion class="work-experience-accordion" multi>
      <section *ngFor="let developerExperienceSection of developerExperiencesSections" class="developer-experience">
        <mat-expansion-panel class="work-experience-expansion-panel" [expanded]="true">
          <mat-expansion-panel-header>
            <header>
              <h3 class="work-experience-expansion-panel__header">
                <mat-icon aria-hidden="false"
                  [ariaLabel]="getDeveloperExperiencesSectionDetails(developerExperienceSection).sectionAriaTitle| translate"
                  [fontIcon]="getDeveloperExperiencesSectionDetails(developerExperienceSection).sectionIcon"></mat-icon>
                <span class="developer-experience-section-title">{{  getDeveloperExperiencesSectionDetails(developerExperienceSection).sectionTitle | translate}}</span>
              </h3>
            </header>
          </mat-expansion-panel-header>

          <div class="work-experience-expansion-panel__body">
            <ul class="dev-companies">
              <ng-container *ngFor="let companyExperience of getDeveloperExperiencesSectionDetails(developerExperienceSection).workExperiences">
                <app-company-section [companyExperience]="companyExperience"></app-company-section>
              </ng-container>
            </ul>
          </div>
        </mat-expansion-panel>
      </section>
    </mat-accordion>
  </section>

  <section class="languages-section">
    <h2>
      <mat-icon aria-hidden="false" [ariaLabel]="'main.ariaLabels.languageSection' | translate" fontIcon="language"></mat-icon>
      {{ 'main.sections.languages' | translate }}
    </h2>
    <ul>
      <li *ngFor="let language of languages" [innerHtml]="language"></li>
    </ul>
  </section>
</main>
