<main class="main">
  <section class="summary-section">
    <h2>
      <mat-icon aria-hidden="false" [ariaLabel]="'main.ariaLabels.summarySection' | translate" fontIcon="auto_stories"></mat-icon>
      {{ 'main.sections.summary' | translate }}
    </h2>
    <p [innerHTML]="summaryResponse.summary"></p>
  </section>

  <section class="habilities-section">
    <h2>
      <mat-icon aria-hidden="false" [ariaLabel]="'main.ariaLabels.habilities' | translate" fontIcon="tips_and_updates"></mat-icon>
      {{ 'main.sections.habilities' | translate }}
    </h2>

    <ul>
      <li *ngFor="let hability of habilities" [innerHtml]="hability"></li>
    </ul>
  </section>

  <section class="training-section">
    <h2>
      <mat-icon aria-hidden="false" [ariaLabel]="'main.ariaLabels.trainingSection' | translate" fontIcon="school"></mat-icon>
      {{ 'main.sections.training' | translate }}
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit non rem neque. Voluptatum, hic laboriosam libero, sint impedit exercitationem doloribus dolor eligendi blanditiis vero ex earum alias obcaecati minima sed ipsa aspernatur aliquam sequi! Quia laborum dolores deleniti repellendus eaque, non a pariatur quae, laboriosam doloremque, consequatur labore necessitatibus delectus.
    </p>
  </section>

  <section class="work-experience-section">
    <h2>
      <mat-icon aria-hidden="false" [ariaLabel]="'main.ariaLabels.workExperienceSection' | translate" fontIcon="work"></mat-icon>
      {{ 'main.sections.workExperience' | translate }}
    </h2>

    <section class="web-developer-experience">
      <h3>
        <mat-icon aria-hidden="false" [ariaLabel]="'main.ariaLabels.webWorkExperienceSection' | translate" fontIcon="devices"></mat-icon>
        {{ 'main.sections.webWorkExperience' | translate }}
      </h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, ab? Minus consequatur veritatis eos ipsum sapiente provident alias in assumenda animi ipsa ab itaque nisi, aut et dicta distinctio, reiciendis iusto explicabo? Incidunt voluptas cum rem, omnis ad necessitatibus autem animi aperiam eaque nesciunt facere corporis ipsam consequatur. Cumque, harum?
      </p>
    </section>

    <section class="cobol-experience">
      <h3>
        <mat-icon aria-hidden="false" [ariaLabel]="'main.ariaLabels.cobolWorkExperienceSection' | translate" fontIcon="dns"></mat-icon>
        {{ 'main.sections.cobolWorkExperience' | translate }}
      </h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, ab? Minus consequatur veritatis eos ipsum sapiente provident alias in assumenda animi ipsa ab itaque nisi, aut et dicta distinctio, reiciendis iusto explicabo? Incidunt voluptas cum rem, omnis ad necessitatibus autem animi aperiam eaque nesciunt facere corporis ipsam consequatur. Cumque, harum?
      </p>
    </section>
  </section>

  <section class="languages-section">
    <h2>
      <mat-icon aria-hidden="false" [ariaLabel]="'main.ariaLabels.languageSection' | translate" fontIcon="language"></mat-icon>
      {{ 'main.sections.languages' | translate }}
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit non rem neque. Voluptatum, hic laboriosam libero, sint impedit exercitationem doloribus dolor eligendi blanditiis vero ex earum alias obcaecati minima sed ipsa aspernatur aliquam sequi! Quia laborum dolores deleniti repellendus eaque, non a pariatur quae, laboriosam doloremque, consequatur labore necessitatibus delectus.
    </p>
  </section>
</main>
