h2, h3 {
  color: #4895ef;
  width: 100%;
  padding-bottom: 0.3rem;
  border-bottom: 5px solid #4895ef;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.main {
  background-color: white;
  padding: 1rem;
  min-height: 100%;
}

.work-experience-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.habilities-section ul,
.training-section ul,
.languages-section ul {
    padding-block: 1rem;
    list-style-type: circle;
}

.web-dev-companies {
  padding-block: 1rem;

  .web-dev-company-item {
    margin-bottom: 1rem;
    list-style-type: square;

    &__title {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      mat-chip {
        background-color: #588157;

        span {
          color: white;
          font-weight: bolder;
        }
      }
    }
  }
}

.web-depeloper-description {
  &__title {
    margin-block: 1rem;
  }
}

@media (min-width: 600px) {
  /* sm */
  h2 {
    width: 75%;
  }

  h3 {
    width: 50%;
  }

  .web-dev-companies {
    .web-dev-company-item {
      &__title {
        display: unset;
        flex-direction: unset;
        gap: unset;
      }
    }
  }
}
