<main class="main">
  <section *ngIf="summaryResponse" class="summary-section">
    <h2>
      <mat-icon aria-hidden="false" [ariaLabel]="'main.ariaLabels.summarySection' | translate" fontIcon="auto_stories"></mat-icon>
      {{ 'main.sections.summary' | translate }}
    </h2>
    <p [innerHTML]="summaryResponse.summary"></p>
  </section>

  <section class="habilities-section">
    <h2>
      <mat-icon aria-hidden="false" [ariaLabel]="'main.ariaLabels.habilities' | translate" fontIcon="tips_and_updates"></mat-icon>
      {{ 'main.sections.habilities' | translate }}
    </h2>

    <ul>
      <li *ngFor="let hability of habilities" [innerHtml]="hability"></li>
    </ul>
  </section>

  <section *ngIf="trainings" class="training-section">
    <h2>
      <mat-icon aria-hidden="false" [ariaLabel]="'main.ariaLabels.trainingSection' | translate" fontIcon="school"></mat-icon>
      {{ 'main.sections.training' | translate }}
    </h2>

    <ul>
      <li *ngFor="let training of trainings" [innerHtml]="training"></li>
    </ul>
  </section>

  <section class="work-experience-section">
    <header>
      <h2>
        <mat-icon aria-hidden="false" [ariaLabel]="'main.ariaLabels.workExperienceSection' | translate" fontIcon="work"></mat-icon>
        {{ 'main.sections.workExperience' | translate }}
      </h2>
    </header>

    <section class="web-developer-experience">
      <header>
        <h3>
          <mat-icon aria-hidden="false" [ariaLabel]="'main.ariaLabels.webWorkExperienceSection' | translate" fontIcon="devices"></mat-icon>
          {{ 'main.sections.webWorkExperience' | translate }}
        </h3>
      </header>

      <ul class="web-dev-companies" *ngIf="webDeveloperExperiences">
        <li class="web-dev-company-item" *ngFor="let webDeveloperExperience of webDeveloperExperiences">
          <article>
            <header>
              <strong class="web-dev-company-item__title">
                <mat-chip>
                  <span>{{ webDeveloperExperience.rangeDates }}</span>
                </mat-chip>
                {{ webDeveloperExperience.company }}
              </strong>
            </header>

            <div class="web-depeloper-description"
              *ngIf="webDeveloperExperience.projects.length === 1">

              <div class="web-depeloper-description__title"
                *ngIf="webDeveloperExperience.projects[0].company">
                <strong>
                  <u>{{ webDeveloperExperience.projects[0].company }}</u>
                </strong>
              </div>

              <span [innerHTML]="webDeveloperExperience.projects[0].description"></span>
            </div>
          </article>
        </li>
      </ul>
    </section>

    <section class="cobol-experience">
      <h3>
        <mat-icon aria-hidden="false" [ariaLabel]="'main.ariaLabels.cobolWorkExperienceSection' | translate" fontIcon="dns"></mat-icon>
        {{ 'main.sections.cobolWorkExperience' | translate }}
      </h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, ab? Minus consequatur veritatis eos ipsum sapiente provident alias in assumenda animi ipsa ab itaque nisi, aut et dicta distinctio, reiciendis iusto explicabo? Incidunt voluptas cum rem, omnis ad necessitatibus autem animi aperiam eaque nesciunt facere corporis ipsam consequatur. Cumque, harum?
      </p>
    </section>
  </section>

  <section class="languages-section">
    <h2>
      <mat-icon aria-hidden="false" [ariaLabel]="'main.ariaLabels.languageSection' | translate" fontIcon="language"></mat-icon>
      {{ 'main.sections.languages' | translate }}
    </h2>
    <ul>
      <li *ngFor="let language of languages" [innerHtml]="language"></li>
    </ul>
  </section>
</main>
