h2 {
  /* Redundant but neccessary for accesibility and SEO */
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  background-color: #98c1d9;
  color: white;
  padding: 1rem;

  &__photo {
    width: 60%;
    aspect-ratio: 0.68;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }

  &__contact-info{
    li {
      list-style: none;
      margin-bottom: 1rem;
    }
  }
}

.info-title strong {
  font-size: 1.2rem;
  display: block;
}
