<footer *ngIf="identificationResponse" class="footer">
  <h2 class="footer__copy">&copy; {{ currentYear }} - {{ nameAndSurname }}</h2>
  <nav>
    <ul *ngIf="identificationResponse?.netWorks" class="networks">
      <ng-container *ngFor="let network of identificationResponse.netWorks">
        <li *ngIf="network.shouldDownLoad" class="networks__container">
          <a [href]="network.url" download>
            <img
              [src]="network.icon"
              [alt]="network.ariaLabel"
            >
          </a>
          <strong>{{ network.label }}</strong>
        </li>

        <li *ngIf="!network.shouldDownLoad" class="networks__container">
          <a [href]="network.url" target="_blank">
            <img
              [src]="network.icon"
              [alt]="network.ariaLabel"
            >
          </a>
          <strong>{{ network.label }}</strong>
        </li>
      </ng-container>
    </ul>
  </nav>
</footer>
