.footer {
  background-color: #b08968;
  color: white;
  text-align: center;
  padding: 1rem;

  &__copy {
    margin-bottom: 1rem;
  }
}

.networks {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }
}

ul {
  text-decoration: none;
}

.pdf-icon {
  width: 3rem;
  height: auto;
}
