<footer class="footer">
  <h2 class="footer__copy">&copy; {{ currentYear }} - {{ nameAndSurname }}</h2>
  <nav class="networks">
    <div class="networks__container">
      <a href="#" target="_blank"><img src="assets/linkedin.png" [alt]="'footer.networksAlt.linkedin' | translate"></a>
      <strong>{{ 'footer.networks.linkedin' | translate }}</strong>
    </div>

    <div class="networks__container">
      <a href="#" target="_blank"><img src="assets/github.png" [alt]="'footer.networksAlt.github' | translate"></a>
      <strong>{{ 'footer.networks.github' | translate }}</strong>
    </div>
  </nav>
</footer>
